/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 0 auto;
    cursor: default;
}

div.to-do-list > h1 {
    margin: 2rem;
    text-align: center;
    border: 1px solid black;
    padding: 1rem;
}

div.to-do-list > ul {
    list-style: none;
    width: 50%;
    margin: 0 auto;
}

div.to-do-list > ul > li {
    margin: .5rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

div.to-do-list > ul > li > span {
    font-size: 1.5rem;
}

div.to-do-list > ul > li > span > i {
    cursor: pointer;
}

.task-done {
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
}