/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 0 auto;
    cursor: default;
}

div.to-do-list > h1 {
    margin: 2rem;
    text-align: center;
    border: 1px solid black;
    padding: 1rem;
}

div.to-do-list > ul {
    list-style: none;
    padding-bottom: 2rem;
}

div.to-do-list > ul > li {
    margin: .5rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.to-do-list > ul > li > span {
    font-size: 1.5rem;
}

div.to-do-list > ul > li > span > i {
    cursor: pointer;
    transition: all .5s;
}

div.to-do-list > ul > li > span > i:hover {
    color: red;
}

div.to-do-list > ul,
div.to-do-list > div.input-elements {
    width: 50%;
    margin: 0 auto;
}

div.to-do-list > div.input-elements {
    display: flex;
    justify-content: center;
}

div.to-do-list > div.input-elements > button,
div.to-do-list > div.input-elements > input {
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    margin: 0 1rem;
    border: 1px solid black;
}

div.to-do-list > div.input-elements > button {
    background-color: rgb(255, 225, 149);
    cursor: pointer;
    transition: all .5s;
}

div.to-do-list > div.input-elements > button:hover {
    background-color: rgb(255, 199, 58);
}

.task-done {
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
}