/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 0 auto;
    cursor: default;
    user-select: none;
}

div.to-do-list > h1 {
    border: 1px solid black;
    padding: 1rem;
}

div.to-do-list > h1,
div.to-do-list > h2 {
    margin: 2rem;
    text-align: center;
}

div.to-do-list > ul {
    list-style: none;
    padding-bottom: 2rem;
}

div.to-do-list > ul > li {
    margin: .5rem;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.to-do-list > ul > li > span {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 20px;
    transition: all .5s;
    cursor: pointer;
}

div.to-do-list > ul > li > span:first-of-type {
    width: 100%;
    overflow: hidden;
}

div.to-do-list > ul > li > span:first-of-type:hover {
    background-color: rgb(230, 230, 230);
}

div.to-do-list > ul > li > span > i {
    cursor: pointer;
    transition: all .5s;
}

div.to-do-list > ul > li > span > i:hover {
    color: red;
    transform: scale(1.3);
}

div.to-do-list > ul,
div.to-do-list > div.input-elements {
    width: 50%;
    margin: 0 auto;
}

div.to-do-list > div.input-elements {
    display: flex;
    justify-content: center;
}

div.to-do-list > div.input-elements > button,
div.to-do-list > div.input-elements > input {
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    margin: 0 1rem;
    border: 1px solid black;
}

div.to-do-list > div.input-elements > button {
    background-color: rgb(255, 225, 149);
    cursor: pointer;
    transition: all .5s;
}

div.to-do-list > div.input-elements > button:hover {
    background-color: rgb(255, 199, 58);
}

div.to-do-list > img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.task-done {
    text-decoration-line: line-through;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: red;
}


/* Responsive Layouts */

/* XS Layout (from 0px to 576px */
@media screen and (max-width: 576px) {
    body {
        font-size: 1rem;
    }

    #app {
        width: 100%;
    }

    div.to-do-list > ul,
    div.to-do-list > div.input-elements {
        width: 100%;
    }
}

/* 2K Layout (from 2560px to 3840px */
@media screen and (min-width: 2560px) {
    html {
        font-size: 20px;
    }

    div.to-do-list > img {
        width: 25%;
    }
}

/* 4K Layout (from 3840px to higher resolutions */
@media screen and (min-width: 3840px) {
    html {
        font-size: 30px;
    }
}